*{
	font-family: helvetica;
	color: black;

}

h1{
	color: black;
	margin :15px 0px;
	
}

h2{
	font-size: 2em;
	font-weight: bold;
}

h3{
	font-size: 1.25em;
	border: solid 1px black;
	text-align: center;
	margin-bottom: 5px;
	margin-top : 0px;
	width: 100px;
	position: absolute;
	right: 0px;
	top: 0px;
}

#chicken, #beef, #sushi{
	margin-bottom: 1em;
	border: 1px solid black;
	background-color: rgb(130,130,130);
	font-weight: bold;
	position: relative;
	
}
#chicken h3{
	background-color: rgb(255,155,155);
	color: black;
}


#beef h3{
	background-color: rgb(188,35,50);
	color: white;
}

#sushi h3{
	background-color: rgb(227,208,117);
	color: black;
}

p{
	padding-top: 40px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.row{
	width: 100%;
	margin: 0 auto;
	padding: 0;
	
	/*background-color: #00FFFF;*/ 
}

#header-nav{
	background-color: rgb(130,130,130);
	margin: 0px;
	border-radius: 0px;
	border: 2px solid black;
	vertical-align: middle;
}

.navbar-brand
{
	padding: 0px 30px;
	min-height: 100%;
}

.navbar-header{
	margin: 0;
}

.navbar-default button.navbar-toggle .icon-bar
{	
	background-color: black;
}

.navbar-default .navbar-toggle, .icon-bar{
	border: solid 2px black;

}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


.container{
	margin-right: auto;
	margin-left: auto;
}


li{
	background-color: blue;
	border: solid 2px black;
}
